body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.topBanner{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width p{
    text-align: justify;
}
.half-width img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.linkButton{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding:10px 40px;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}