body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
}
.flexible-container p{
    text-align: justify;
}
.top-banner{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding: 40px;
}

.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding:10px 40px;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}
.imgarea{
    display: block;
    text-align: right;
    margin-top: 80px;
}
.imgarea2{
    display: block;
    text-align: left;
    margin-top: 30px;
}
.dream-big{
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big-content{
    padding-right: 150px;
}

.left-experience h1, .right-experience h1{
    font-size: 35px;
    margin-top: 0;
}
.left-experience{
    border-left: 5px solid;
    border-image: linear-gradient(tomato, orange);    
    border-image-slice: 1;

}
.right-experience{
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.left-experience, .right-experience{
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.19) 10px 20px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding:5px 20px 20px 20px;
    border-radius: 5px;
    margin: 0px 50px;
}

.experience-section{
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
.exp-header{
    margin-left: 10px;
}

footer p{
    text-align: center;
}

@media screen and (max-width:600px) {
    .flexible-container{
        flex-direction: column;
    }
    .half-width{
        width: 85%;
        padding: 20px;
        margin: 0 auto;
    }
    .half-width img{
        width: 85%;
    }
    .half-width h1{
        font-size: 40px;
        text-align: center;
    }
    .imgarea, .imgarea2{
        text-align: center;
    }
    .dream-big-content h1{
        margin-top: 0;
    }
    .left-experience {
        margin-bottom: 50px;
    }
    .left-experience, .right-experience{
        width: 80% !important;
    }
    .left-experience h1, .right-experience h1{
        font-size: 30px;
    }
    .left-experience h3, .right-experience h3{
        text-align: center;
    }
    .exp-header{
        text-align: center;
    }

}